body,
html {
  margin: 0;
  padding: 0;
  background: black;
}

.app {
  padding: 30px;
  font-size: 30pt;
}

.playable-area {
  background: lightgray;
  border: 2px solid white;
  margin: auto;
  position: relative;
}

.character {
  position: absolute;
}
